* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}
main {
  flex-grow: 1;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: $font;
  display: flex;
  flex-direction: column;
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: $color;
  background-color: $bg_color;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
