



$font: "roboto";
$body-size: 1.5rem;
$font-size: 1.2rem;
$body-line-height: 1.6;
$line-height: 1.75;
$line-hight:1.4;
$body-font-weight: 400;



$color: #000000;
$color-two: #777777;
$bg_color: #ffffff;
$bg-second-color: #ebebeb;
$bg-tirth-color: #6b6b6b;
$bg-four-color: #3b79c3;



$text-align: center;
