/*  ======   hero ====== */

.hero {
  height: 50rem;
  background: $bg-second-color;
  padding: 0;
  &__container {
    display: flex;
    align-items: $text-align;
    padding-top: 6.7rem;
    padding-bottom: 7.4rem;
  }
}
.hero__one {
  max-width: 57.6rem;
  margin-right: 15rem;
  &-title {
    font-weight: $body-font-size;
    font-size: 3.9rem;
    line-height: 1.15;
    padding-bottom: 1.1rem;
  }
  &-text {
    font-weight: $body-font-weight;
    font-size: $body-font-size;
    line-height: 1.53;
    padding-bottom: 4.5rem;
  }
  &-link {
    padding: 1.5rem 2.5rem;
    background-color: $bg_color;
    border-radius: 5px;
    color: #000000;
    font-weight: $body-font-weight;
    font-size: $body-font-size;
    line-height: $line-hight;
  }
}
.hero__two {
  display: flex;
  flex-direction: column;
  align-items: $text-align;
  &-text {
    padding-top: 2.3rem;
    max-width: 32rem;
    text-align: $text-align;
    font-weight: $body-font-weight;
    font-size: 1.3rem;
    line-height: $body-line-height;
    color: rgba(16, 15, 15, 0.5);
    opacity: 0.5;
  }
  &-img {
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.2));
  }
}
/* ======  promo ===== */

.hero__little {
  background: rgba(211, 211, 211, 1);
  height: 15.2rem;
  &-container {
    display: flex;
    justify-content: space-between;
    padding-top: 5.2rem;
    padding-bottom: 5.2rem;
  }
}
/* ======  promo ===== */

.promo {
  padding-top: 5rem;
  padding-bottom: 7.6rem;
  &__item {
    display: flex;
    align-items: $text-align;
  }
}
.promo__item:not(:last-child) {
  margin-bottom: 2.6rem;
}
.one {
  margin-right: 21.5rem;
  &__title {
    font-weight: $body-font-weight;
    font-size: 3.2rem;
    line-height: 1.12;
    margin-bottom: 1.4rem;
  }
  &__text {
    font-weight: $body-font-weight;
    font-size: $body-font-size;
    line-height: $body-line-height;
    width: 50.9rem;
    height: 9.6rem;
  }
}
.two {
  &__img {
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.2));
    border-radius: 3px;
  }
  &__text {
    color: $color-two;
    padding-top: 2rem;
    font-weight: $body-font-weight;
    font-size: $font-size;
    line-height: $line-height;
    text-align: $text-align;
  }
}
.promo__items {
  display: flex;
  justify-content: space-evenly;
  align-items: $text-align;
}
.tree {
  &__img {
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.2));
    border-radius: 3px;
  }
  &__text {
    margin-top: 2rem;
    font-weight: $body-font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color-two;
  }
}
.four {
  &__title {
    font-weight: $body-font-weight;
    font-size: 3.1rem;
    line-height: 1.16;
    margin-bottom: 1.4rem;
  }
  &__text {
    font-weight: $body-font-weight;
    font-size: $body-font-size;
    line-height: $body-line-height;
    width: 52rem;
    height: 7.2rem;
  }
}





.desc {
  height: 80.6rem;
  background: $bg-second-color;
  &__container {
    padding-top: 8.9rem;
    padding-bottom: 8rem;
  }
  &__title {
    font-weight: $body-font-weight;
    font-size: 3.1rem;
    line-height: 1.16;
    margin-bottom: 1.1rem;
    text-align: $text-align;
  }
  &__text {
    font-weight: $body-font-weight;
    font-size: $body-font-size;
    line-height: $body-line-height;
    text-align: $text-align;
    padding-bottom: 4rem;
  }
  &__img {
    margin-left: 46.5rem;
    text-align: $text-align;
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.2));
    border-radius: 3px;
    margin-bottom: 2rem;
  }
  &__little-text {
    text-align: $text-align;
    font-weight: $body-font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color-two;
  }
}



.list {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
}
.item {
  width: 36.4rem;
  height: 31.6rem;
  background: $bg_color;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  &__desc {
    padding-top: 3.1rem;
    padding-bottom: 3rem;
    text-align: $text-align;
    font-weight: $body-font-weight;
    font-size: 1.8rem;
    line-height: 1.33;
  }
  &__img {
    display: flex;
    align-items: $text-align;
    margin-left: 13.2rem;
  }
  &__text {
    margin-left: 6.9rem;
    text-align: $text-align;
    width: 22.6rem;
    height: 6rem;
    font-weight: $body-font-weight;
    font-size: 1.3rem;
    line-height: $body-line-height;
    margin-top: 4rem;
  }
  &__text-one {
    margin-left: 5.1rem;
    text-align: $text-align;
    width: 26.2rem;
    height: 6rem;
    font-weight: $body-font-weight;
    font-size: $body-font-size;
    line-height: $line-hight;
    text-align: $text-align;
    margin-top: 4rem;
  }
  &__text-two {
    margin-left: 4rem;
    text-align: $text-align;
    width: 28.4rem;
    height: 6rem;
    font-weight: $body-font-weight;
    font-size: $body-font-size;
    line-height: $line-hight;
    margin-top: 4rem;
  }
}
.color__one {
  background: $bg-four-color;
  border-radius: 2px;
  color: $bg_color;
}

/* =====  feature ===== */

.feature {
  &__container {
    margin-top: 9.9rem;
    margin-bottom: 8.7rem;
  }
  &__title {
    font-weight: $body-font-weight;
    font-size: 3.2rem;
    line-height: 1.12;
    margin-bottom: 4.1rem;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__img {
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.2));
    border-radius: 3px;
  }
  &__dessc {
    font-weight: $body-font-weight;
    font-size: 1.8rem;
    line-height: 1.33;
    margin-top: 3rem;
    margin-bottom: 1.3rem;
  }
  &__text {
    font-weight: $body-font-weight;
    font-size: $body-font-size;
    line-height: $body-line-height;
    width: 24.3rem;
    height: 9.6rem;
  }
}
